@import "../../global.scss";



.portfolio {
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1{
        font-size: 6vw;
        font-weight: 400;
        position: absolute;
        top: 0;
        color: $mainColor;
        overflow: hidden; 
        z-index: 1; 
    }

    .arrow {
        // height: 50px;
        font-size: 70px;
        position: absolute;
        cursor: pointer;
        color: $mainColor;

        &.left {
            left: 100px;

            @media (max-width: 1000px) {
                bottom: 10px;
                left: 40%;
            }
        }

        &.right {
            right:100px;

            @media (max-width: 1000px) {
                bottom: 10px;
                right: 40%;
            }
        }

        &:hover {
            height:100px;
        }
    }

    .nav-dots {
        position: absolute;
        bottom: 80px;
        z-index: 1;
        display: flex;
        left: 50%;
        transform: translate(-50%);
        height: 30px;

        .dot {
            height: 20px;
            width: 20px;
            background-color: $mainColor;
            margin: 0 10px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                height: 25px;
                width: 25px;
            }
        }

        .active {
            background-color: lemonchiffon;

        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all .5s ease-out;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .left {
                flex: 4;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;

                .left-container {
                    width: 90%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h2 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 16px;
                    }

                    .button-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;
                        overflow: hidden;
        
                        .btn {
                            background-color: lemonchiffon;
                            color: $mainColor;
                            box-shadow: 0 0 2px 2px $mainColor inset;
                            margin: 3px;
                            padding: 3px 10px;
                            border: 3px outset;
                            font-size: 15px;
                            width: 100px;
                            font-weight: 700;
                            text-align: center;
                            text-decoration: none;
        
                            
                            &:hover{
                                background-color:#d7c6b4;
                                box-shadow: 0 0 2px 2px $mainColor;
                              }
                        }
                    }
                }
            }

            .right {
                flex: 8;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    width: 80%;
                    transform: rotate(-10deg);
                    transition: all .2s ease;

                    &:hover {
                        transform: rotate(0deg);
                        width: 95%;
                        
                    }
                  }
            }
        }
    }

    }