@import "../../global.scss";

.resume{
    background-color: rgb(255, 213, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    h1{
        font-size: 6vw;
        font-weight: 400;
        position: absolute;
        top: 0;
        color: $mainColor;
        overflow: hidden; 
        z-index: 1; 

        @include mobile{
            font-size: 40px;
            top: 3%;
        }
    }

    .resWindow {
        width: 60vw;
        height: 60vh;


        @include mobile{
            width: 80vw;            
        }

    }

    button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: $mainColor;
        border: none;
        border-radius: 7px;
        font-weight: 600;
        cursor: pointer;
        margin: 5px;
    }
}